.all-credits {
  background-color: #292929;
  height: 100vh;
  padding: 32px;
}

.credits {
    display: flex;
    flex-wrap: wrap; /* item wrapping */
    justify-content: space-evenly; /* space items evenly with equal spacing */
    align-items: center; /* align items vertically in the center */
    gap: 20px; /* spacing between items */
    padding: 32px;
  }
  
  .credits > div {
    text-align: center; /* Center align text within each item */
  }
  
.pfp {
    border: 5px solid #555;
}